# {{ ansible_managed }}
name: {{ inventory_hostname }}
data-dir: {{ etcd_data_dir }}

listen-peer-urls: http://{{ hostvars[inventory_hostname].ansible_host | default(inventory_hostname) }}:{{ etcd_peer_port }}
listen-client-urls: http://{{ hostvars[inventory_hostname].ansible_host | default(inventory_hostname) }}:{{ etcd_client_port }},http://127.0.0.1:{{ etcd_client_port }}

initial-advertise-peer-urls: http://{{ hostvars[inventory_hostname].ansible_host | default(inventory_hostname) }}:{{ etcd_peer_port }}
advertise-client-urls: http://{{ hostvars[inventory_hostname].ansible_host | default(inventory_hostname) }}:{{ etcd_client_port }}

initial-cluster: {{ etcd_initial_cluster }}
initial-cluster-token: {{ etcd_cluster_name }}
initial-cluster-state: {{ etcd_effective_cluster_state }}
